<a href="https://colab.research.google.com/github/barkamoljon/data_science_praktikum/blob/main/Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **2-Qism**

## Dataset
#### Ushbu vazifada biz turli davlatlarning turli yillarda elektr tokini qanday manbaalardan olganini ko'rsatuvchi jadval bilan ishlaymiz.
Jadval ustunlari ko'mir, gaz, gidro va boshqa manbaalardan ko'rsatilgan yilda qancha __terravat/soat__ energiya olinganini ko'rsatadi.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.columns = ['davlat','kod','yil','komir','gaz','gidro','yangilanuvchi','quyosh','neft','shamol','atom']
df.head()

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

### 1-VAZIFA. DF hajmini chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING
df.shape

(6241, 11)

### 2-VAZIFA. Jadvalda mavjud davlatlar ro'yxatini alohida chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING
df.davlat.unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia Pacific', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'EU-27', 'EU27+1',
       'Eastern Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Europe (other)', 'Falkland Islands', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Lithuania', 'Luxembourg', 'Macau', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'U.S. Pacific Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
#@title Kutilgan natija

### 3-VAZIFA. DF dan faqat AQSh (`United States`) uchun ma'lumotlarni ajratib oling va yangi `dfus` nomli o'zgaruvchiga saqlang

In [ ]:
# JAVOBNI SHUYERGA YOZING
usa=['United States']
dfus=df[df['davlat'].isin(usa)]
dfus.tail(5)

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
5918,United States,USA,2016,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
5919,United States,USA,2017,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
5920,United States,USA,2018,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
5921,United States,USA,2019,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
5922,United States,USA,2020,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
5887,United States,USA,1985,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
5888,United States,USA,1986,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
5889,United States,USA,1987,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
5890,United States,USA,1988,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
5891,United States,USA,1989,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
5892,United States,USA,1990,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819

### 4-VAZIFA. `dfus` jadvalining indeksini `yil` ustuni bilan o'zgartiring. DF dan `yil` ustunini tashlab yuboring.

In [ ]:
# JAVOBNI SHUYERGA YOZING
dfus=dfus.set_index('yil')

In [ ]:
dfus.reset_index(drop='yil',inplace=False)
dfus.tail(15)

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [ ]:
# JAVOBNI SHUYERGA YOZING
dfus.loc[[2020]].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

yil
2020    4049.846537
dtype: float64

### 6-VAZIFA. 2010-2020-yillarda AQSH turli manbaalardan o'rtacha qancha elektr toki olganini chiqaring. Natijani kichikdan kattaga qarab tartiblang.

In [ ]:
# JAVOBNI SHUYERGA YOZING
dfus.loc[2010:2020,['komir', 'gaz', 'gidro', 'yangilanuvchi', 'quyosh', 'neft', 'shamol', 'atom']].mean().sort_values()

neft               39.028512
quyosh             49.943642
yangilanuvchi      75.785131
shamol            207.386225
gidro             273.634436
atom              796.992746
gaz              1299.518378
komir            1358.154104
dtype: float64

In [ ]:
#@title O'xshash natija (1990-2000 yillar uchun)

### 7-VAZIFA. AQSH gidro elektr stansiyalardan eng kam va eng ko'p elektr energiyasi olgan yillarni toping.

In [ ]:
# JAVOBNI SHUYERGA YOZING
#print(dfus.sum(axis=1).idxmax())
#print(dfus.sum(axis=1).idxmin())
#dfus.head()
print(dfus['gidro'].idxmax())
print(dfus['gidro'].idxmin())

1997
2001

### 8-VAZIFA. 
#### 8.1 Asl `df` dan 2019-yil ma'lumotlarini ajratib oling. 
#### 8.2 Yangi df ga `df19` deb nom bering
#### 8.3 `df19` indeksini `davlat` ustuniga o'zgartiring hamda `davlat` va `yil` ustunlarini tashlab yuboring.
#### 8.4 `df19` dan `World` indeksini o'chirib tashlang

In [ ]:
# JAVOBNI SHUYERGA YOZING
df19=df[(df['yil']==2019)]

In [ ]:
df19=df19.set_index('davlat')

In [ ]:
df19.reset_index(drop='davlat',inplace=False)

,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,AFG,2019,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
1,NaN,2019,253.555978,340.472820,132.734791,8.184247,19.377978,81.274240,17.508052,14.214193
2,ALB,2019,0.000000,0.000000,5.153940,0.000000,0.022000,0.000000,0.000000,0.000000
3,DZA,2019,0.000000,73.615787,0.106440,0.000000,0.615000,0.000000,0.011000,0.000000
4,ASM,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.163000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
230,ESH,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
231,OWID_WRL,2019,9081.622041,5943.112329,4261.241023,682.877296,704.023692,1089.307746,1416.947048,2720.674471
232,YEM,2019,0.000000,0.770710,0.000000,0.000000,0.500000,1.242770,0.000000,0.000000
233,ZMB,2019,1.998501,0.000000,13.772427,0.080073,0.000389,1.003232,0.000000,0.000000
234,ZWE,2019,3.805433,0.000000,5.020000,0.206667,0.014000,0.000000,0.000000,0.000000

In [ ]:
#df19.reset_index(drop='yil',inplace=False)
df19.drop('yil',axis=1,inplace=True)

In [ ]:
df19.drop('World',inplace=True)

#### 8.5 `df19` jadvali uchun umumlashtiruvchi statistikani chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING
#df19.describe()
df19.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

komir            89.629863
gaz              63.570115
gidro            40.428494
yangilanuvchi     7.378199
quyosh            7.297140
neft             10.575434
shamol           15.621916
atom             30.370740
dtype: float64

### 9-VAZIFA. 2019-yilda har bir davlat jami qancha elektr energiya ishlab chiqarganini DF ko'rinishida chiqaring.
*ishora. `Series` obyektini `DF` ga o'tkazing

In [ ]:
# JAVOBNI SHUYERGA YOZING
df19.sum(axis=1).to_frame()
df19.loc[['Uzbekistan','France','Russia','India','South Korea']].sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

davlat
Uzbekistan       61.046354
France          564.970337
Russia         1058.466480
India          1378.174340
South Korea     546.438648
dtype: float64

In [ ]:
df19.head()

,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
davlat,,,,,,,,,
Afghanistan,AFG,0.000000,0.152000,0.840000,0.000000,0.040000,0.00000,0.000000,0.000000
Africa,NaN,253.555978,340.472820,132.734791,8.184247,19.377978,81.27424,17.508052,14.214193
Albania,ALB,0.000000,0.000000,5.153940,0.000000,0.022000,0.00000,0.000000,0.000000
Algeria,DZA,0.000000,73.615787,0.106440,0.000000,0.615000,0.00000,0.011000,0.000000
American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.16300,0.000000,0.000000

### 10-VAZIFA. 
#### 10.1. Asl DF dan 2000-2020-yillar, `France` uchun `atom`, `komir`, `gaz`, `quyosh` manbaalarini alohida `dffr` jadvaliga ko'chirib oling
#### 10.2. `dffr` jadvalini yil ustuni bo'yicha tartiblang

In [ ]:
# JAVOBNI SHUYERGA YOZING
yillar = np.arange(2000,2020)
dffr = df[df['yil'].isin(yillar)]
a = dffr[dffr['davlat']=='France']
dffr = a[['yil','atom','komir','gaz','quyosh']]
dffr

       yil        atom      komir        gaz     quyosh
1934  2000  415.162000  27.004000  11.514000   0.005223
1935  2001  421.076000  20.478000  15.146000   0.006161
1936  2002  436.760000  23.658000  18.369000   0.007104
1937  2003  441.070000  26.260000  19.368000   0.007767
1938  2004  448.241000  24.372000  21.049000   0.008448
1939  2005  451.529000  27.515000  23.069000   0.010501
1940  2006  450.191000  22.889000  21.760000   0.012103
1941  2007  439.730000  24.446000  21.987000   0.017572
1942  2008  439.447000  23.063000  21.884000   0.041692
1943  2009  409.736000  21.667000  20.503000   0.173971
1944  2010  428.521000  23.359000  23.758000   0.620000
1945  2011  442.387763  17.807444  29.489144   2.333802
1946  2012  425.406017  21.449981  22.753254   4.427930
1947  2013  423.684671  23.830994  18.393269   5.193590
1948  2014  436.479009  11.242305  13.162876   6.391477
1949  2015  437.427808  11.873673  21.143153   7.753328
1950  2016  403.195482  10.344460  34.967086   8.659160
1951  2017  398.359129  12.818153  40.500366   9.584882
1952  2018  412.941812   8.412694  30.587768  10.568737
1953  2019  398.941812   4.412694  37.587768  12.568737

#### 10.3 `dffr`uchun Korrelyasiya jadvalini chiqaring.

In [ ]:
# JAVOBNI SHUYERGA YOZING
dffr.corr()

             yil      atom     komir       gaz    quyosh
yil     1.000000 -0.523686 -0.843643  0.700386  0.906983
atom   -0.523686  1.000000  0.577010 -0.512382 -0.643574
komir  -0.843643  0.577010  1.000000 -0.622100 -0.916864
gaz     0.700386 -0.512382 -0.622100  1.000000  0.669726
quyosh  0.906983 -0.643574 -0.916864  0.669726  1.000000